@import '../../../var';

.header {
  background-color: $blue;
}

.wrapper {
  padding: 20px 0;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
}
.logo {
  display: block;
}
.catalogBtn {
  padding: 0;
  & svg {
    font-size: 30px;
    color: #fff;
  }
}
.cartBtn {
  padding: 0;
  & svg {
    font-size: 30px;
    color: #fff;
  }
}
.accountBtn {
  padding: 0;
  & svg {
    font-size: 30px;
    color: #fff;
  }
}
